<div class="container">
    <div class="col-sm-6 m-auto pt-5 pb-5">
        <div class="card">
            <img src="http://rjtmobile.com/grocery/images/{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <h5 class="float-right">{{ product.price | currency : "INR" }}
                    <span class="small text-secondary">
                        <small>
                            <del>{{ product.mrp | currency: "INR" }}</del>
                        </small>
                    </span>
                </h5>
                <br>
                <hr>
                <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
                <a href="#" class="btn btn-warning btn-block">Go Back</a>
            </div>
        </div>
    </div>
</div>