<app-navbar></app-navbar>

<div class="container jumbotron mt-5">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur perspiciatis distinctio earum. Laudantium
        praesentium numquam iste facilis. Aut velit laborum repellat corrupti excepturi! Voluptates blanditiis commodi
        expedita nostrum delectus, obcaecati repellendus officia tempora minus eligendi sed rerum inventore consequuntur
        impedit ipsam. Obcaecati ratione vitae excepturi quisquam a eum ipsa atque quo facilis mollitia repellendus
        distinctio inventore eius officiis, id reprehenderit modi est. Iure quo, quidem quisquam beatae exercitationem
        aliquid qui illum deleniti, tempora eligendi dolor porro odit harum aspernatur error expedita et sit voluptates
        in accusamus corrupti ex omnis aperiam! Ipsa veritatis obcaecati molestias animi dolor fugiat voluptatum atque?
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a>
</div>